<form class="form">
    <table class="table table-striped table-hover text-center">
        <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Upcoming Trips</th>
            <th class="text-center">Total Trips</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="driver in driversList track by $index">
            <td><a href="#/driver/{{driver.id}}">{{driver.name}}</a></td>
            <td>{{driver.numberOfUpcomingTrips}}</td>
            <td>{{driver.numberOfTotalTrips}}</td>
        </tr>
        </tbody>
    </table>
</form>