<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Trips</h1>
        <p></p>
    </div>

    <div ng-show="identity.isAuthenticated()">

        <div class="row">
            <div class = "col-md-3">
                Sort:
                <select type="checkbox" class ="form-control" ng-model="sort" ng-options="option.type for option in sortOptions" ng-change="loadPage()" />

            </div>
            <div class = "col-md-3">
                Order:
                <select type="checkbox" class ="form-control" ng-model="order" ng-options="option.type for option in orderOptions" ng-change="loadPage()" />

            </div>
            <div class = "col-md-3">
                From:
                <span  class="nullable">
                <select type="checkbox" class ="form-control" ng-model="from" ng-options="city for city in cities" ng-change="loadPage()">
                    <option value="">--Choose--</option> </select>
                </span>
            </div>
            <div class = "col-md-3">
                To:
                <span class="nullable">
                <select type="checkbox" class ="form-control" ng-model="to" ng-options="city for city in cities" ng-change="loadPage()" >
                    <option value="">--Choose--</option> </select>
                </span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class = "col-md-4">
                <label for="finished">Include Finished</label>
                    <input type="checkbox" id="finished"  ng-model="finished" ng-change="loadPage()" />
                <br />
                <label for="mine">Only mine</label>
                    <input type="checkbox" id="mine"  ng-model="mine" ng-change="loadPage()" />
            </div>

            <div class = "col-md-4 pull-right">
                <div class="col-md-8 text-right big-text">
                    Page:
                </div>
                <div class="col-md-4 ">
                    <input type="text" class="form-control" ng-model="page" ng-change="loadPage()"/>
                </div>
            </div>
        </div>
    </div>

    <form class="form">
        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <th class="text-center">Driver</th>
                <th class="text-center">From</th>
                <th class="text-center">To</th>
                <th class="text-center">Departure Time</th>
                <th class="text-center" ng-show="identity.isAuthenticated()">Is Mine</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trip in tripsList">
                <td><a href="#/trips/{{trip.id}}">{{trip.driverName}}</a></td>
                <td>{{trip.from}}</td>
                <td>{{trip.to}}</td>
                <td>{{trip.departureDate}}</td>
                <td ng-show="identity.isAuthenticated()">
                    <span ng-show="trip.isMine"><img src ="img/mine.png"/></span>
                    <span ng-hide="trip.isMine"><img src ="img/notMine.png"/></span>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
